#loginBackground {
    background-image: url("https://s3.amazonaws.com/slam-a-court/images/court4.jpg");
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

#signUpBtn {
    text-decoration: none !important;
    color: white !important;
}

#loginTitle {
    color: darkblue;
    font: "Simplifica";
}
